/* || General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3882F6;
    padding: 10px 30px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: none;
    border-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

/* || Header */

header,
footer {
    background-color: #1F2937;
}

header,
.information,
footer {
    padding: 10px 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul,
.hero-text,
footer {
    color: #E5E7EB;
    font-size: 18px;
}

/* || Hero Banner */

.hero-banner {
    display: flex;
    gap: 50px;
    margin: 120px 0px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

.hero-title {
    flex: 1;
}

.img-placeholder-hero {
    background-color: #737c86;
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || Information Section */

h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.information {
    padding-bottom: 200px;
}

.information ul {
    display: flex;
    list-style: none;
}

.img-placeholder-info {
    min-width: 100px;
    min-height: 100px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 10px;
    margin: 5px;
}

.information figcaption {
    text-align: center;
}

/* || Quote */

/* || Footer */

footer {
    display: flex;
    justify-content: center;
}